.cloudnode-livechat {
  border-radius: .5rem;
  margin: 1rem;
  overflow: hidden;
  border: 1px solid #eee;
  width: 420px;
  height: 649px;
  position: fixed;
  bottom: 0;
  right: 0;
  opacity: 1;
  transition: bottom 300ms ease, opacity 300ms ease, visibility 300ms ease;
  visibility: visible;
}

.cloudnode-livechat:empty {
  background: #ddd;
}

.cloudnode-livechat:empty::before {
  content: "";
  display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 3px solid #00000012;
  position: absolute;
  top: calc(50% - 2rem);
  left: calc(50% - 2rem);
  border-top: 3px solid var(--bs-primary);
  animation: 1s linear loader-spin infinite;
}

.cloudnode-livechat-header {
  background-color: var(--bs-primary);
  color: #fff;
  font-size: 1rem;
  padding: 2.25rem 2.75rem;
}

.cloudnode-livechat-header.less {
  padding: 1.75rem 2rem;
}

.cloudnode-livechat-header .cloudnode-livechat-icon-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.7rem;
  padding: 0;
  opacity: .5;
}

.cloudnode-livechat-body {
  padding: 1rem;
}

.cloudnode-livechat-body.messages {
  overflow: overlay;
  height: 503px;
  padding: 1rem 1.5rem;
}

.cloudnode-livechat-body.darker {
  background-color: #f7f7f7;
}

.cloudnode-livechat-card {
  border-radius: .25rem;
  background-color: #fff;
  padding: 1.75rem;
  border: 1px solid #eee;
}

.cloudnode-livechat-card.elevated {
  position: relative;
  top: -3rem;
}


.opacity-7 {
  opacity: .7;
}

.cloudnode-livechat-message-content {
    padding: .5rem 1rem;
    border-radius: 1.25rem;
    max-width: calc(100% - 3rem);
    width: max-content;
    margin-bottom: .35rem;
    margin-left: 2.75rem;
    font-size: .875rem;
    line-height: 1.25rem;
    border: 1px solid #00000026;
}

.cloudnode-livechat-message-group.right .cloudnode-livechat-message-content {
  background-color: var(--bs-primary);
  color: #fff;
  margin-left: auto;
  border: transparent;
  max-width: 100%;
}

.cloudnode-livechat-message-group {
  margin-bottom: 1rem;
  position: relative;
}

.cloudnode-livechat-message-group.left::before {
  content: "";
  position: absolute;
  display: block;
  width: 2.25rem;
  height: 2.25rem;
  background-image: url("https://cloudnode.pro/r/img/logo/icon.png");
  background-size: cover;
  bottom: 0;
  left: 0;
  border-radius: 50%;
}

.cloudnode-livechat-message-special {
  opacity: .7;
  font-size: .75rem;
  margin: 1rem 0;
  text-align: center;
}

.cloudnode-livechat-type {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  border-top: 1px solid #ddd;
  padding-right: 1rem;
}

.cloudnode-livechat-type textarea {
  border: none;
  display: block;
  width: 100%;
  outline: none !important;
  padding: 1rem;
  resize: none;
}

.cloudnode-livechat-icon-button {
  border: 0;
  background: transparent;
  color: inherit;
  padding: .5rem;
  opacity: .7;
  font-size: 1.2rem;
}

.cloudnode-livechat-widget {
  position: fixed;
  left: 0;
  bottom: 0;
  margin: 1rem;
  width: 3.5rem;
  height: 3.5rem;
  background-color: var(--bs-primary);
  border-radius: 5rem;
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  cursor: pointer;
}

.cloudnode-livechat-widget-icon span {
  line-height: 3.5rem;
}

.cloudnode-livechat-widget-counter {
  position: absolute;
  font-size: .7rem;
  top: -.125rem;
  right: -.125rem;
  line-height: 1;
  padding: .325rem .475rem;
  background-color: var(--bs-danger);
  border-radius: 1rem;
}

.cloudnode-livechat-stage {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
  opacity: 0;
}

.cloudnode-livechat-stage.active {
  display: block;
  opacity: 1;
}

.cloudnode-livechat.collapsed {
  bottom: -680px;
  opacity: 0;
  visibility: hidden;
}