.cloudnode-livechat:empty {
  background: #222;
}

.cloudnode-livechat:empty::before {
  border: 3px solid #ffffff12;
  border-top: 3px solid var(--bs-primary);
}

.cloudnode-livechat-body.darker {
  background-color: #0c0c0c;
}

.cloudnode-livechat-card {
  border: #111;
  background-color: #202125;
}

.cloudnode-livechat {
  border: #111;
}