# Copyright (C) 2021 Cloudnode - All Rights Reserved
# Any use, distribution or modification of this code
# is subject to the terms of the provided license.
#
# The license is available at the root (/) of the
# repository. If not, please write to:
# support@cloudnode.pro

<filesMatch ".(flv|gif|ico|jpg|jpeg|mp4|mpeg|png|svg|swf|webp|html|css|js)$">
    Header set Cache-Control "max-age=31536000, public"
</filesMatch>

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /r/server.php [L]

Header set Access-Control-Allow-Origin "*"
